@tailwind base;
@tailwind components;
@tailwind utilities;

/* Modo oscuro */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Tarjetas de noticias */
.news-card {
  transition: transform 0.2s ease-in-out;
}

.news-card:hover {
  transform: scale(1.02);
}
